body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;

  background-image: url("./img/fundo-tennis.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

body * {
  position: relative;
  z-index: 1;
}


form {
  background: #fff;
  max-width: 500px;
  margin: 0 auto 30px;
  padding: 20px;
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input, select, button {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
}

button {
  background: #2e8b57;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background: #246b44;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background: #2e8b57;
  color: white;
}

h1, h2 {
  color: #ffffff;
}

